body {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    background: #1b1b1b;
}

p.title {
    color: white;
    font-family: 'Google Sans', sans-serif;
    font-weight: 700;
    font-size: 2em;
    padding: 0;
    margin: 0;
    top: 10px;
    left: 10px;
    position: absolute;
    text-decoration: underline;
}

p {
    color: white;
    font-size: 4em;
}

p.inputtext {
  color: white;
  font-size: 2em;
  font-family: "Google Sans", sans-serif;
}

input.inputfield {
  width: 100%;
  height: auto;
  font-size: 1.5em;
  font-family: "Google Sans", sans-serif;
  color: white;
  background: #1B1B1B;
  border: 1;
  border-color: grey;
}

button.confirm {
  width: 50%;
  height: auto;
  font-size: 1.5em;
  font-family: "Google Sans", sans-serif;
  text-align: center;
}

button.randomizebutton {
  font-size: 4em;
  font-family: "Google Sans", sans-serif;
  text-align: center;
}

#input {
    color: white;
    background: #1b1b1b;
    border: 0;
    font-size: 1em;
    width: 100%;
    font-family: 'Google Sans', sans-serif;
}

td.right {
    width: 30%;
}

#listplaylists {
    color: white;
}

#infotext {
    font-family: 'Google Sans', sans-serif;
}

a.selection {
    font-size: 4vmin;
    color: white;
    font-weight: 700;
}

table {
    width: 60%;
    table-layout: fixed;
    column-width: auto;
    column-gap: normal;
    margin-left: auto;
    margin-right: auto;
    top: 10vh;
    left: 0;
    bottom: 100px;
}

div.bottombar{
    width: 100vw;
    height: 100px;
    background: green;
    display: none;
    z-index: 50;
    bottom: 0;
    left: 0;
}

div.visiblebar {
    width: 50vw;
    height: 5vh;
    background: green;
    display: block;
    z-index: 50;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
}

th {
    font-size: 30px;
    text-align: left;
}

.select:hover{
    color: green;
}

.selectcell{
    text-align: right;
}

th, td {
    font-family: 'Google Sans', sans-serif;
    color: white;
    font-size: 1.5em;
    word-wrap: break-word;
}

tr:hover {
    background: #373737;
}

a:link, a:visited {
    color: white;
}

.x {
    position: absolute;
    top: 0;
    right: 0;
}

button.loginbutton, button.crawlbutton{
    font-weight:700;
    letter-spacing:0;
    right: 1vw;
    background-color: white;
    transition: background-color 1.5s ease, color 500ms ease;
    font-family: 'Google Sans', sans-serif;
}

#text {
    color: white;
    font-family: 'Google Sans', sans-serif;
}

button.loginbutton{
    font-size: 8vw;
}

button.crawlbutton {
    font-size: 13vw;
    font-weight:700;
}

button.yesno {
    font-size: 4vw;
    font-weight: 700;
    font-family: "Google Sans", sans-serif;
}
button:hover {
    color: white;
    border-color: black;
    background-color: black;
    transition: background-color 1.5s ease, color 500ms ease;
}

div.div, div.post-auth, div.pre-auth{
    display: flex;
    width: 100vw;
    height: fit-content;
    top: 0;
    left: 0;
    position: absolute;
    justify-content: center;
    background: #1b1b1b;
    align-items: center;
    z-index: -5;
    flex-direction: column;
}
